$main-loader-size: 300px;
$image-size: 125px;
// Main Font Family
$font: 'Monospace';
// Main Theme Colors
$theme-basic: #FFA500;
$theme-basic-light: #ffbd45;
$theme-dark-bg: #333333ff;
$theme-basic-bg: #d3d4d666;
$theme-light-bg: #d1d2d4;
$theme-tooltip: #7d7d7e;

$box-background-color: white;
$body-background-color: #f4f8f9;
$input-background-color: #f6f7f9;
$hover-color: #007ee5;
$hover-background-color: #f3f4f6;
$image-button-color: #747d88;
$dark-text-color: #404549;
$text-color: #707d86;